@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&family=Unica+One&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

* {
  font-family: 'Montserrat' sans-serif;
  transition: all 0.3s ease-in-out;
}

body {
  background: #150E28;
}

a:hover {
  transform: scale(1.2);
}

.clash-text {
  font-family: 'Clash Display';
}

.unica-text {
  font-family: 'Unica One';
}


.navbar {
  backdrop-filter: blur(10px);
  transition: background 0.3s ease-in-out;
}

.line {
  position: relative;
  font-weight: 600;
  padding-bottom: 2px;
  animation: change-weight 0.3s linear;
}


@keyframes change-weight {
  from {
    font-weight: 400;
  }

  to {
    font-weight: 700;
  }
}

.line::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: -10%;
  width: 120%;
  height: 0.1em;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
  animation: move 0.5s linear
}

@keyframes move {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    width: 0;

  }


  to {
    opacity: 1;
    transform: translate3d(0%, 0, 0);

  }
}

.register-btn {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.register-btn:active {
  transform: scaleX(1.2);
  background: linear-gradient(270deg, #8f3affca 0%, #d634febe 56.42%, #ff26baca 99.99%, #fe34bbd4 100%);
}

.register-btn:disabled {
  cursor: not-allowed;
  transform: scaleX(1);
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);

}

.btn-disabled:active {
  animation: shake 0.2s linear;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.bright-light {
  background: url('/public/assets/images/bg-img.svg'),
    lightgray -155.25px -155px / 114.411% 118.9% no-repeat;
  background-blend-mode: hard-light;
  background-color: #150E28;
}

.timeline {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}

.rewards-bg {
  background: url('/public/assets/images/rewards-bg.svg'), lightgray 0px -0.093px / 100% 109.967% no-repeat;
  background-blend-mode: color-burn;
  background-color: #150E28;
}

.nav-mobile-menu {
  animation: showNav 1s linear;
}

@keyframes showNav {
  from {
    display: flex;
    height: 0px;
  }

  to {
    height: 100vh;
  }
}

.nav-mobile-items {
  animation: showItems 3s linear;
}

@keyframes showItems {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}





input,
textarea,
select {
  display: block;
  padding: 0 29px;
  border-radius: 4px;
  border: 1.5px solid #FFF;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


@media (min-width: 640px) {
  .form {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}


.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    color: #FFF;
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: #FFF;
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow:
      .25em 0 0 #FFF,
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow:
      .25em 0 0 #FFF,
      .5em 0 0 #FFF;
  }
}

.light {
  animation: rotate 15s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  22.5% {
    transform: rotate(90deg);
  }

  45% {
    transform: rotate(180deg);
  }

  67.5% {
    transform: rotate(270deg);
  }

  90% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.star {
  animation: glowing 2s infinite;

}

@keyframes glowing {
  from {
    filter: drop-shadow(0 0 10px #fff);
  }

  to {
    filter: drop-shadow(0 0 30px #fff);
  }
}