@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&family=Unica+One&display=swap');
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap");

* {
  font-family: 'Montserrat' sans-serif;
  transition: all 0.3s ease-in-out;
}

body {
  background: #150E28;
}

a:hover {
  transform: scale(1.2);
}

.clash-text {
  font-family: 'Clash Display';
}

.unica-text {
  font-family: 'Unica One';
}

.register-btn {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.bright-light {
  background: url('/public/assets/images/bg-img.svg'),
    lightgray -155.25px -155px / 114.411% 118.9% no-repeat;
  background-blend-mode: hard-light;
  background-color: #150E28;
}

.timeline {
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}

.rewards-bg {
  background: url('/public/assets/images/rewards-bg.svg'), lightgray 0px -0.093px / 100% 109.967% no-repeat;
  background-blend-mode: color-burn;
  background-color: #150E28;
}

.nav-mobile-menu {
  animation: showNav 1s linear;
}

@keyframes showNav {
  from {
    display: flex;
    height: 0px;
  }

  to {
    height: 100vh;
  }
}

.nav-mobile-items {
  animation: showItems 3s linear;
}

@keyframes showItems {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.form {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


input,
textarea,
select {
  display: block;
  padding: 0 29px;
  border-radius: 4px;
  border: 1.5px solid #FFF;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}